/* #072040, #03A6A6, #F78C38, #EDEDE5, #94C2C0  */


/* from GoogleFonts */
/* font-family: 'Ubuntu', sans-serif; */


.navCustom{
    background-color: #94C2C0;
    
}

#sportsLink{
    color: black;
}

#jumboStyling{
    background-color: #03A6A6;
    /* background: url("./testBackground.jpg");      HOW TO CENTER AND STRETCH? */

}

#gallery{
    background-color: #072040;
    
}

#code{
    color: rgb(233, 148, 0);
}

.gooFont{
    font-family: 'Ubuntu', sans-serif;
}